 /*font*/
  @font-face {
    font-family: Poppins;
    src: url('https://fonts.google.com/specimen/Poppins');
  }

  /* background */
  body{
    background-blend-mode: screen;
    background-image: url("images/bg-intro-desktop.png");
    background-color: hsl(0, 100%, 74%) ;
    background-size: cover;
    font-family: Poppins;
  }

  /* grid settings */
  .container{
    margin: auto;
  }
  .grid-container{
    display: grid;
    grid-template-columns: auto auto auto;
    height: 700px;
    width: 900px;
    margin: auto;
  }
  .grid-item{
    margin: auto;
    width: 450px;
    color: white;
    align-content: center;
    max-height: 400px;
  }

  /* promote */
  #contentPromote{
    font-weight: 400;
    width: 400px;
    font-family: Poppins;
  }
  #titlePromote{
    font-weight: 700;
    width: 350px;
    font-family: Poppins;
    font-size: 48px;
  }
  

  /* trialButton */
  #trial{
    font-weight: 600 !important;
    color:white;
  }
  #trialBtn{
    width: 400px;
    margin-bottom: 20px;
    background-color:  hsl(248, 32%, 49%);
    height: 40px;
    color: white !important;
    font-weight: 400;
    border-radius: 7px;
  }


  /* card settings */
  .card{
    text-align: center;
    background-color: white;
    min-height: 400px;
    width: 400px;
    border-radius: 7px;
  }

  /* form settings */
  .form{
    width: 350px;
    margin-top: 10px;
    height: 40px;
    color: black;
    border-radius: 7px;
    position: static;
  }
  #firstName{
    margin-top: 30px;
  }
  .empty{
    color: hsl(0, 100%, 74%) !important;
    font-size: 10px;
    width: 150px;
    margin-left: 240px;
    font-style: italic;
  }
  .errorIcon{
    display: none;
    margin-bottom: -8px;
    margin-left: -30px;
  }

/* 
  confirm button */
  #confirmBtn{
    width: 350px;
    margin-top: 20px;
    height: 40px;
    font-weight: 500;
    background-color: hsl(154, 59%, 51%);
    color: azure;
    border-radius: 7px;
  }

  /* terms and service */
  #agreeText{
    color: hsl(246, 25%, 77%);
    font-size: 10px;
    margin-top: 5px;
    height: 30px;
  }
  #terms{
    color: hsl(0, 100%, 74%) ;
  }

  /* footer */
  .attribution{ 
    font-size: 11px; 
    text-align: center;
  }
  .attribution a{ 
    color: hsl(228, 45%, 44%); 
  }

  /*mobile screen*/
  @media only screen and (max-width: 1000px){

    /* background */
    body{
      background-image: url("images/bg-intro-mobile.png"); 
      text-align: center;
      align-content: center;
    }

    /* grid settings */
    .container{
      min-height: 900px;
    }
    .grid-container{
      grid-template-columns: auto;
      min-height: 700px;
      max-width: 300px;
    }
    .grid-item{
      margin: auto;
      min-height: 200px;
      max-width: 300px;
      color: white;
      align-content: center;
    }

    /* promote */
    #titlePromote{
      max-width: 300px;
      font-size: 35px;
    }
    #contentPromote{
      max-width: 300px;
      font-size: 18px;
      margin-bottom: -20px;
    }
 
    /* trial button */
    #trialBtn{
      width: 300px;
      margin-bottom: 20px;
      height: 80px;
    }
    #trialText{
      font-size: 14
      px;
      max-width: 150px;
      margin: auto;
    }

    /* card settings */
    .card{
      min-height: 400px;
      max-width: 300px;
    }
/* 
    form settings */
    .form{
      width: 250px;
      margin-top: 5px;
    }
    .empty{
      width: 120px;
      margin-left: 160px;
      max-height: 50px;
    }

    /* confirm button */
    #confirmBtn{
      width: 250px;
      margin-top: 10px;
    }

    /*terms and services settings */
    #agreeText{
      margin: auto;
      text-align: center;
      width: 250px;
      font-size: 14px;
    }
  }